@mixin card-shadow {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2)
}

.product-card{
    transition: 0.1s;
}

.product-card:hover{
    @include card-shadow()
}

.popup-cart{
    background-color: #5ECE7B;
    animation-name: cart-icon;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    @include card-shadow()
}

.img-container{
    width: 362px;
    height: 330px;
}

.img-overflow-none{
    overflow-y: hidden;
}

@keyframes cart-icon {
    from {
        top: 80%; 
        left: 82%;
        height: 0;
        width: 0;
        padding: 0;
    }
    to {
        top: 75%; 
        left: 77%;
        height: 52px;
        width: 52px;
        padding: 0.25rem;
    }
}

.out-of-stock-text{
    color:rgba(0, 0, 0, 0.2)
}

.out-of-stock-bg{
    background-color: rgba(255, 255, 255, 0.6);
}