.order-btn{
    background-color: #5ECE7B;
    color: white;
    border: 1px solid transparent;
}

.amount{
    font-size: 600;
}

.active-order{
    background-color: #5ECE7B;
}

.inactive-order{
    background-color: #aee6bd;
}