.nav-container{
    display: flex;
    justify-content: space-between;
    height: 8vh;
}

.nav-option{
    height: 6.17vh;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #1D1F22;
    text-transform: uppercase;
    text-align: center;
    transition: 0.1s;
}

.nav-option:hover{
    color: #5ECE7B;
    border-bottom: 3px solid #5ECE7B;
}

.nav-option:focus,.nav-option:active, .active-category{
    color: #5ECE7B;
    border-bottom: 3px solid #5ECE7B;
    transition: none;
}

.custom-dropdown-option{
    transition: 0.1s
}

.custom-dropdown-option:hover, .custom-dropdown-option:focus{
    background-color: rgba(219, 219, 219, 0.705);
}

.selected-currency{
    background-color: rgba(219, 219, 219, 0.705);
}

.overlay-background{
    background-color: rgba(0, 0, 0, 0.2);
}

.currency-icon-margin{
    margin-right: 0.25rem;
}

.currency-dropdown-width{
    width: 6.5vw;
}

.cart-icon-margin{
    margin-top: 0.14rem;
}

.cart-counter{
    background-color: black;
    color: white;
    height: 20px;
    width: 20px;
    font-size: 0.6rem;
}
